.nvmrc
.github
#tests
test
coverage
.nyc-output

#build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

#linters
.jscsrc
.jshintrc
.eslintrc*
.eslint*
.babelrc.js
*.log

#editor settings
.idea
.editorconfig
.vscode

# non-dist-files
src
test
